@import "tailwindcss";

@theme default {
  --font-poppins: "Poppins", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-logo: "Playfair Display", serif;
  --color-primary: #B71C1C;
  --color-gray: #00000073;
  --color-gradient: linear-gradient(to right, #B71C1C, #800000);
}

.bg-gradient {
  background: linear-gradient(to right, #B71C1C, #800000);
}

* {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}