@import "tailwindcss";

@theme default {
  --font-poppins: "Poppins", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-logo: "Playfair Display", serif;
  --color-primary: #B71C1C;
  --color-secondary: #800000;
  --color-thrdtinary: #510C0C;
  --color-gray: #00000073;
  --color-lightGray: #979797;
  --color-gradient: linear-gradient(to right, #B71C1C, #800000);
}

.bg-gradient {
  background: linear-gradient(to right, #B71C1C, #800000);
}

.bg-gradient-two {
  background: linear-gradient(to bottom right, #510C0C, #B71C1C);
}

* {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}